<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item >
        <mat-icon mat-list-icon>Menu 1</mat-icon>
        <span mat-line>Ixshel Escamilla</span>
      </a>
      <a mat-list-item >
        <mat-icon mat-list-icon>Menu 2</mat-icon>
        <!-- <span mat-line>Source Code</span> -->
      </a>
      <a mat-list-item >
        <mat-icon mat-list-icon>Menu 3</mat-icon>
        <!-- <span mat-line>Blog Post</span> -->
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <div>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
      <span>Ng6 Chat - Node</span>
    </mat-toolbar>

    <div class="app-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>